// COLORS

$orange-pumpkin: #ff7f00; // Simyo oranje
$orange-apricot: #fcdabd; // Lichte variant van Simyo oranje
$blue-viking: #3fb1c0; // Knop kleur
$blue-tranquil: #dfeded; // Lichte variant van knopkleur
$blue-dark-cerulean: #0b5c76; // Knopschaduw
$yellow-green: #aace35; // Groen in handen met beker illustratie
$green-clear-day: #f2f8f8; // Licht groen-grijs

$simyo-orange: $orange-pumpkin;
$simyo-turquoise: $blue-viking;
$simyo-light-blue: $blue-tranquil;

$simyo-gray: #8c8c8c;
$simyo-light-gray: #b2b2b2;

$brand-primary: $simyo-orange;
$text-color: #333;