@font-face {
  font-family: "Simyo Regular";
  src: url("../fonts/simyo-regular-webfont.eot");
  src: url("../fonts/simyo-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/simyo-regular-webfont.woff") format("woff"), url("../fonts/simyo-regular-webfont.ttf") format("truetype"), url("../fonts/simyo-regular-webfont.svg#Simyo Regular") format("svg"); }
@font-face {
  font-family: "Simyo Medium";
  src: url("../fonts/simyo-medium-webfont.eot");
  src: url("../fonts/simyo-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/simyo-medium-webfont.woff") format("woff"), url("../fonts/simyo-medium-webfont.ttf") format("truetype"), url("../fonts/simyo-medium-webfont.svg#Simyo Medium") format("svg"); }
@font-face {
  font-family: "Simyo Semi-Bold";
  src: url("../fonts/simyo-semibold-webfont.eot");
  src: url("../fonts/simyo-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/simyo-semibold-webfont.woff") format("woff"), url("../fonts/simyo-semibold-webfont.ttf") format("truetype"), url("../fonts/simyo-semibold-webfont.svg#Simyo Semi-Bold") format("svg"); }
@font-face {
  font-family: "Simyo Bold";
  src: url("../fonts/simyo-bold-webfont.eot");
  src: url("../fonts/simyo-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/simyo-bold-webfont.woff") format("woff"), url("../fonts/simyo-bold-webfont.ttf") format("truetype"), url("../fonts/simyo-bold-webfont.svg#Simyo Bold") format("svg"); }

@font-face {
	font-family: 'Simyo-Icons';
	src:url('../fonts/Simyo-Icons.eot?-biyo5q');
	src:url('../fonts/Simyo-Icons.eot?#iefix-biyo5q') format('embedded-opentype'),
		url('../fonts/Simyo-Icons.ttf?-biyo5q') format('truetype'),
		url('../fonts/Simyo-Icons.woff?-biyo5q') format('woff'),
		url('../fonts/Simyo-Icons.svg?-biyo5q#Simyo-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}