- var companyName = 'Simyo'
- var logoLink = 'https://www.simyo.nl/'

- var prePaidBestelLink = 'https://www.simyo.nl/prepaid/bestellen?page_id=712&p0=82'
- var prePaidInfoLink = 'http://www.simyo.nl/prepaid'
- var simOnlyBestelLink = 'https://www.simyo.nl/sim-only/bestellen?page_id=712&p0=82'
- var simOnlyInfoLink = 'http://www.simyo.nl/sim-only'

- var prePaid750Code = '&p1=89'
- var prePaid2250Code = '&p1=90'
- var prePaid2750Code = '&p1=91'
- var prePaid3250Code = '&p1=92'

- var simOnly100MinCode = '&p1=71'
- var simOnly200MinCode = '&p1=72'
- var simOnly300MinCode = '&p1=73'
- var simOnly500MinCode = '&p1=74'
- var simOnly1250MinCode = '&p1=99'

- var simOnly0MbCode = '&p3=75'
- var simOnly200MbCode = '&p3=76'
- var simOnly500MbCode = '&p3=77'
- var simOnly1000MbCode = '&p3=78'
- var simOnly2000MbCode = '&p3=79'
- var simOnly4000MbCode = '&p3=101'

- var consumentenbondLink = 'https://www.simyo.nl/blog/simyo-voor-de-vierde-keer-beste-mobiele-provider-van-nederland/'
- var trustpilotLink = 'https://nl.trustpilot.com/review/www.simyo.nl'
- var tarievenLink = 'https://www.simyo.nl/tarieven-footer'

- var uspBundelAanpassen = 'Gratis bundel aanpassen'
- var uspKPN = 'Betrouwbaar KPN netwerk'
- var uspOpzegbaar = 'Maandelijks opzegbaar'
- var uspNummerbehoud = 'Gratis <br>nummer&shy;behoud'
- var uspSimkaart = 'Gratis simkaart die altijd past'